In [26]:
import pandas as pd
import numpy as np
import pulp

In [28]:
teacher_list = [f'教員{i}' for i in range(22)]
subject_list = ["英語","数学","国語","理科","社会","美術","音楽","体育","技術","家庭科","総合","道徳"]
class_dict = {3:[1,2,3,4,5],2:[1,2,3,4],1:[1,2,3,4]}

In [48]:
teacher_dict = {t:g for t,g in zip(teacher_list,[3,3,3,2,1,1,3,2,1,3,2,1,2,1,1,3,2,1,3,2,3,2])}

In [29]:
lesson_df = pd.read_csv("./構成.csv")

In [30]:
period = [1,2,3,4,5,6]
week = ["月","火","水","木","金"]

In [32]:
timetable_df = pd.DataFrame(index=period,columns=week)
for i in week:
    timetable_df[i] = [[] for i in range(6)]

In [34]:
#移動教室授業
Classroom_mobility = ["美術","音楽","体育","技術","家庭科"]

#6時限目に行う且つ学年で同時に行う授業
six_period = ["総合","道徳"]

In [35]:
subject_df = pd.read_csv("./number.csv")

In [36]:
subject_dict = {subject_df["subject"][i]:subject_df["n"][i] for i in range(subject_df.shape[0])}

In [147]:
model = pulp.LpProblem("model",pulp.LpMinimize)
x = {}
y = {}
z = {}
#x_曜日_時限_学年_クラス_授業
for d in week:
    for p in period:
        for g in grade_list:
            for c in class_dict[g]:
                for s in subject_list:
                    x[d,p,g,c,s] = pulp.LpVariable(cat="Binary",name=f"x_{d}_{p}_{g}_{c}_{s}")

#y_曜日_時限_教員
for d in week:
    for p in period:
        for t in teacher_list:
            y[d,p,t] = pulp.LpVariable(cat="Binary",name=f"y_{d}_{p}_{t}")

#z_曜日_時限_学年
for d in week:
    for p in period:
        for g in grade_list:
            z[d,p,g] = pulp.LpVariable(cat="Integer",name=f"z_{d}_{p}_{g}")

クラス基本制約<br>
(1) 1 つの時限では必ず 1 つ授業を行う<br>
教科制約<br>
(2) 各教科は必要授業数だけ行う<br>
(3) 各教科は 1 日の授業数の上下限を守る<br>
(4) 総合、体育など時限に制約のある教科の制約
移動教室は連続しない、総合と道徳は6限で学年で行う

教員制約<br>
(5) 1 教員が行う授業は可能時限に対し 1 つだけである<br>
(6) 1 教員が 1 日に行う授業数の上下限を守る<br>

In [148]:
#(1)
for d in week:
    for p in period:
        for g in grade_list:
            for c in class_dict[g]:
                model += pulp.lpSum([x[d,p,g,c,s] for s in subject_list]) == 1

In [149]:
#(2)
for g in grade_list:
    for c in class_dict[g]:
        for s in subject_list:
            model += pulp.lpSum([x[d,p,g,c,s] for d in week for p in period]) == subject_dict[s]

In [150]:
#(3)
for d in week:
    for g in grade_list:
        for c in class_dict[g]:
            for s in subject_list:
                model += pulp.lpSum([x[d,p,g,c,s] for p in period]) <= 1

In [151]:
#(4)
#移動教室は連続しない
for d in week:
    for p in period[:5]:
        for g in grade_list:
            for c in class_dict[g]:
                model += pulp.lpSum([x[d,p,g,c,s] + x[d,p+1,g,c,s] for s in Classroom_mobility]) <= 1

(5)
#総合と道徳は6限
for d in week:
    for p in period[:5]:
        for g in grade_list:
            for c in class_dict[g]:
                model += pulp.lpSum([x[d,p,g,c,s] for s in six_period]) == 0

#総合と道徳は学年で時限を統一する
for d in week:
    for g in grade_list:
        for c in class_dict[g][:-1]:
            for s in six_period:
                model += x[d,6,g,c,s] == x[d,6,g,c+1,s]
 
#総合と道徳は異なる学年で同じ時間には行わない
for d in week:
    for s in six_period:
        model += pulp.lpSum(x[d,6,g,1,s] for g in grade_list) <= 1

In [152]:
#yをxの関数として定義 y=f(x)
for d in week:
    for p in period:
        for g in grade_list:
            for c in class_dict[g]:
                for s in subject_list:
                    df = lesson_df[lesson_df["gr"] == g]
                    t = df[df["cl"] == c][s].values[0]
                    y[d,p,t] += x[d,p,g,c,s]

In [153]:
#(6)
for d in week:
    for t in teacher_list:
        model += pulp.lpSum([y[d,p,t] for p in period]) <= 6
        model += pulp.lpSum([y[d,p,t] for p in period]) >= 4

In [154]:
for d in week:
    for p in period:
        for g in grade_list:
            z[d,p,g] = list(teacher_dict.values()).count(g) - pulp.lpSum([y[d,p,t] for t in [a for a in teacher_list if teacher_dict[a] == g]])

In [155]:
model += pulp.lpSum([np.max([z[d,p,g] for g in grade_list]) - np.min([z[d,p,g] for g in grade_list]) for d in week for p in period])

In [156]:
model.solve()

1

In [173]:
def export_table(g,c):
    timetable_df = pd.DataFrame(index=period,columns=week)
    
    for d in week:
        for p in period:
            for s in subject_list:
                if x[d,p,g,c,s].value() == 1.0:
                    timetable_df[d][p] = s

    print(timetable_df)

In [174]:
timetable_df

    月   火   水   木   金
1  []  []  []  []  []
2  []  []  []  []  []
3  []  []  []  []  []
4  []  []  []  []  []
5  []  []  []  []  []
6  []  []  []  []  []

In [175]:
export_table(2,1)

    月   火   水    木   金
1  技術  英語  美術   美術  音楽
2  社会  社会  英語   数学  英語
3  理科  国語  社会  家庭科  社会
4  英語  数学  理科   国語  体育
5  国語  理科  数学   理科  国語
6  数学  音楽  体育   道徳  総合

In [176]:
export_table(1,1)

    月   火    水   木   金
1  美術  理科   音楽  音楽  理科
2  英語  社会   理科  英語  美術
3  理科  英語  家庭科  社会  国語
4  数学  数学   英語  数学  数学
5  国語  体育   国語  国語  社会
6  総合  道徳   社会  体育  技術

In [179]:
export_table(3,1)

    月    火   水   木   金
1  美術   技術  理科  英語  音楽
2  数学   英語  社会  社会  社会
3  理科  家庭科  美術  理科  体育
4  国語   数学  国語  国語  英語
5  英語   音楽  数学  数学  国語
6  社会   理科  体育  総合  道徳